@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cookie&family=Great+Vibes&family=Norican&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./imgs/tea_one.jpg');
  background-size: clamp(80rem, 150%, 150rem);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.description {
  display: none;
}

.left-page {
  flex: 1 0 auto;
  font-family: 'Miniver';
  font-style: cursive;
  font-weight: 400;
  font-size: clamp(2rem, 14vw, 8rem);
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-page {
  flex: 1 0 auto;
  padding-left: 8vh;
  padding-right: 8vh;
}

label {
  display: none;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-family: 'Miniver';
  font-style: cursive;
  color: black;
  opacity: 50%;
}

.form-container {
  width: 100%;
}

.form-container > div {
  width: 100%;
}

/*strange hack to stop the webkit auto complete from changing
the set background color */
.form-container > div > input:-webkit-autofill {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.form-container > div > input {
  appearance: none;
  width: 100%;
  height: 9rem;
  background-color: rgba(255,105,180, 0.9);
  margin-bottom: 40px;
  padding: 10px 30px;
  border: 3px solid black;
  font-family: 'Miniver';
  font-style: cursive;
  font-size: 3.2rem;
  transition: 0.2s box-shadow;
}

.form-container > div > input[type='password'] {
  font-family: sans-serif;
  font-size: 3.rem;
}
button {
  flex: 2 0 auto;
  appearance: none;
  border: none;
  width: 100%;
  height: 200px;
  background-color: rgba(0,0,0);
  color: white;
  font-size: 3rem;
}

button:active {
  color: rgba(255,105,180);

}

.form-container > div > input:focus {
  appearance: none;
  border: 3px solid goldenrod;
  box-shadow: inset 3px 3px 28px 2px #660033; 
}
.form-container > div > input:valid {
  background-color: rgba(255,105,180, 0.9);
}


.form-container > div > span {
  position: relative;
}
.form-container > div > input ~ span:not([class='mobile-asterik'])::before {
  position: absolute;
  content: ' ';
  width: 10px;
  height: 10px;
  visibility: hidden;
}

.form-container > div > input:valid ~ span:not([class='mobile-asterik'])::before {
  position: absolute;
  font-size: 3rem;
  left: 15px;
  bottom: 45px;
  color: turquoise;
  content: '✓';
  font-size: 3.5rem;
  visibility: visible;
}

.form-container > div > input:not(:placeholder-shown):invalid ~ span::before {
  position: absolute;
  font-size: 3rem;
  left: 15px;
  bottom: 45px;
  color: red;
  content: '✖';
  font-size: 3.5rem;
  visibility: visible;
}

.form-container > div > input ~ span[class='pwd-error-msg']::before {
  position: absolute;
  content: ' ';
  visibility: hidden;
}

.form-container > div > input:not(:placeholder-shown):invalid ~ span[class='pwd-error-msg']::before {
  position: absolute;
  content: '* passwords do not match';
  visibility: visible;
  font-size: 2rem;
  width: 350px;
  left: -370px;
  top: -60px;
  color: purple;
}

.form-container > div > input ~ span[class='mobile-asterik'] {
  position: absolute;
  font-size: 3.5rem;
  color: red;
  left: 750px;
}

@media only screen
  and (min-width: 961px) 
  and (orientation: landscape) {
    body {
      display: block;
      background: none;
      height: var(--body-height);
    }

    :root {
      --left-pg-size: 40vw;
      --right-pg-size: calc(100vw - var(--left-pg-size));
      --body-height: clamp(900px, 100vh, 400rem); 
    }

    .description {
      display: block;
      font-size: 2rem;
      font-family: 'Josefin Sans';
      font-weight: 600;
      padding: 40px calc(3rem + 1vw) calc(var(--body-height) / 16);
    }

    header {
      --font-size: clamp(2rem, 14vw, 4rem);
      position: absolute;
      top: 45vh;
      width: var(--left-pg-size);
      font-size: var(--font-size);
      background-color: rgba(0,0,0,0.3);
      text-align: center;
      padding-top: clamp(0.1rem, calc(var(--font-size) / 4), 0.5rem);
      height: calc(var(--font-size) + 2rem);
    }

    

    .left-page {
      width: var(--left-pg-size);
      font-size: clamp(1rem, 5vw, 7rem);
      display: block;
      height: var(--body-height);
      background-image: url('./imgs/tea_one.jpg');
      background-size: clamp(40rem, 175%, 160rem);
      background-position: cover;
      background-repeat: no-repeat;
    }

    .right-page {
      position: absolute;
      width: var(--right-pg-size);
      top: 0;
      padding-top: 5vh;
      padding-left: 0;
      padding-right: 0;
      left: var(--left-pg-size);
      height: var(--body-height);
      background-color: papayawhip;
    }

    .form-container {
      display: flex;
      flex-wrap: wrap;
      width: calc(var(--right-pg-size));
      margin-top: calc(var(--body-height) / 4 - 200px);
      padding-top: 30px;
    }

    .sign-up-form {
      width: var(--right-pg-size);
    }

    .form-container > div {
      flex: 1 1 auto;
      width: 50%;
      display: flex;
      flex-direction: column;
      column-gap: 5px;
      align-items: center;
      justify-content: center;
    }

    .form-container > div > label {
      flex: 1 1 auto;
      display: inline-block;
      width: 80%;
      font-family: 'Josefin Sans';
      font-size: 2rem;
    }

    .form-container > div > input {
      flex: 1 1 auto;
      height: 3.8rem;
      font-family: 'Josefin Sans';
      display: inline-block;
      width: 80%;
      border: 2px solid black;
      font-size: 2rem;
    }

    input::placeholder {
      visibility: hidden;
    }

    .form-container > div > input:focus {
      border: 2px solid goldenrod;
    }

    .form-container > div > input:valid ~ span::before,
    .form-container > div > input:not(:placeholder-shown):invalid ~ span::before {
      top: -95px;
      left: 105px;
      font-size: 2.5rem;
    }

    .form-container > div > input:valid ~ span::before {
      color: turquoise;
    }

    .form-container > div > input:not(:placeholder-shown):invalid ~ span::before {
      color: purple;
    }

    .form-container > div > input ~ span[class='pwd-error-msg']::before {
      position: absolute;
      content: ' ';
      visibility: hidden;
    }

    .form-container > div > input:not(:placeholder-shown):invalid ~ span[class='pwd-error-msg']::before {
      position: absolute;
      content: '* passwords do not match';
      visibility: visible;
      font-size: 1rem;
      width: 200px;
      left: -163px;
      top: -30px;

    }
    button {
      --btn-width: 35rem; 
      position: absolute;
      width: var(--btn-width);
      height: clamp(1.8rem, 6vh, 4rem);
      font-size: clamp(1.3rem, 3vh, 2rem);
      top: clamp(650px, calc(var(--body-height) - 110px), 300rem);
      left: calc(var(--left-pg-size) + 
      calc(var(--right-pg-size) / 2 - 
      var(--btn-width) / 2));
    }

}
